
.App {
   text-align: center;
   background-color: #001230;
   height: 538px;
   max-width: 709px;
}
.Characters {
   display: flex;
   justify-content: space-evenly;

}
.Rick {
   display: flex;
   justify-content: space-evenly;
}
.MapeoPersonajes {
   display: flex;
   
   
}